tmp/Резерв_style.css
tmp/index.jpg
tmp/index.psd
tmp/index.tif
tmp/soc.css
tmp/fav/html_code.html
tmp/fav/README.md
tmp/un-tinified/about-bg.png
tmp/un-tinified/about-dish-.png
tmp/un-tinified/cook.png
tmp/un-tinified/decor-gold.png
tmp/un-tinified/decor-hero.png
tmp/un-tinified/decor-white.png
tmp/un-tinified/hero-bg.jpg
tmp/un-tinified/ing-1.jpg
tmp/un-tinified/ing-2.jpg
tmp/un-tinified/ing-3.jpg
tmp/un-tinified/ing-bg.jpg
tmp/un-tinified/logo.png
tmp/un-tinified/menu-bg.png
tmp/un-tinified/reviews-bg.jpg
tmp/un-tinified/reviews-img-1.jpg
tmp/un-tinified/reviews-img-2.jpg
tmp/un-tinified/sprites.png
.vscode/settings.json
/tmp
/.vscode